@using HamburgerProje.Data

@model Dictionary<Menu, Dictionary<string, int>>

<div class="row">

    @foreach (var gruplama in Model)
    {
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/@gruplama.Key.Resim" height="200" alt="Card image cap">
                <div class="card-body" style="height:290px;">
                    <h5 class="card-title">@gruplama.Key.Ad</h5>
                    <ul class="" style="height:170px;">
                        @foreach (var urun in gruplama.Value)
                        {
                            <li class="card-text mb-1">@urun.Value adet @urun.Key</li>
                        }
                    </ul>
                    <div class="d-flex align-items-baseline justify-content-between">
                        <a asp-controller="Home" asp-action="EnCokListesindenSepeteEkle" asp-route-id="@gruplama.Key.Id" class="btn btn-primary">Sepete Ekle</a>
                        <p class="fs-5 fw-bold">@gruplama.Key.Fiyat.ToString("c2")</p>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

