@using Newtonsoft.Json;

@model UygulamaDbContext


@{
    ViewData["Title"] = "Index";
}
<div class="container">


    <div class="row" style="margin-top:100px">
        <div class="col-12 col-xxl-9 ">
            <ul id="siparisListe" class="siparisListe order-0 d-block d-xl-none shadow list-group-item-action  list-group list-group-flush p-2 card card-header" style="margin-top:10%">
            </ul>

            <h2 class="fw-bold my-5">Sipariş Oluştur</h2>

            @*Menüler*@
            <div class="mb-5 menuler card card-header">
                <h3 class="display-6" id="menuler"></h3>
                @*ajax*@
            </div>

            @* Hamburgerler *@
            <div class="mb-5 hamburgerler card card-header">
                <h3 class="display-6" id="hamburgerler"></h3>
                @*ajax*@
            </div>

            @* İçecekler *@
            <div class="mb-5 icecekler card card-header">
                <h3 class="display-6" id="icecekler"></h3>
                @*ajax*@
            </div>

            @* Soslar *@
            <div class="mb-5 soslar card card-header">
                <h3 class="display-6" id="soslar"></h3>
                @*ajax*@
            </div>

            @* Ekstralar *@
            <div class="mb-5 ekstralar card card-header">
                <h3 class="display-6" id="ekstralar"></h3>
                @*ajax*@
            </div>

        </div>

        <div class="col-xxl-3 d-none d-xxl-block">
            <ul id="siparisListe" class="siparisListe position-fixed shadow list-group-item-action  list-group list-group-flush p-2 card card-header" style="top:18%; width:25%">
            </ul>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    sepeteEkle();
    menuleriListele();
    soslariListele();
    icecekleriListele();
    ekstralariListele();
    hamburgerleriListele();

    //Menüleri listeliyoruz
    function menuleriListele() {
    let url = "@Url.Action("TumMenuler", "SiparisOlustur")";
    fetch(url)
        .then(res => res.json())
        .then(data => {
            $("#menuler").html("");
            $("#menuler").append("Menüler");

            for (const menu of data) {

                let menuid = menu.id;

                let menuSayisi = "@Url.Action("menuSayisi", "SiparisOlustur")?id=" + menuid;
                fetch(menuSayisi)
                    .then(res => res.json())
                    .then(veri => {
                        $("#menuler").append(
                            `
                            <div class="w-100 card card-header shadow mb-2">
                                <div class="row p-2">
                                    <div class="p-2 col-xl-7">
                                        <h3 class="fw-bold text-info">${menu.ad}</h3>

                                        <p id="${menu.id}icerik" class="fs-6" style="width: 100%">

                                        </p>
                                        <h4 class="ms-sm-5 fw-bold text-center text-sm-start  text-primary">${menu.fiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' })}</h4>
                                    </div>
                                    <div class="col-xl d-flex justify-content-center">
                                        <img class="me-sm-auto mt-2" src="/img/${menu.resim}" height="130" width="180" alt="Card image cap">
                                    </div>
                                    <div class="col-xl d-flex justify-content-between align-items-center">
                                        <a onclick="menuArttir('${menu.id}')" class=""><i class="btn btn-primary fa-solid fa-plus"></i></a>
                                        <span class="fs-3 mt-2 fw-bold" id="${menu.id}menuAdet">${veri}</span>
                                        <a onclick="menuAzalt('${menu.id}')"><i class="btn btn-primary fa-solid fa-minus"></i></a>
                                    </div>
                                </div>
                            </div>
                            `
                        );
                    })


                let hmbUrl = "@Url.Action("Hmler", "SiparisOlustur")?id=" + menuid;
                fetch(hmbUrl)
                    .then(res => res.json())
                    .then(veri => {
                        for (const key in veri) {
                            $(`#${menu.id}icerik`).append(
                                `
                                     <span> ${veri[key]} adet ${key}, </span>
                                `
                            )
                        }

                        let sosUrl = "@Url.Action("Soslar", "SiparisOlustur")?id=" + menuid;
                        fetch(sosUrl)
                            .then(res => res.json())
                            .then(veri => {
                                for (const key in veri) {
                                    $(`#${menu.id}icerik`).append(
                                        `
                                             <span> ${veri[key]} adet ${key}, </span>

                                        `
                                    )
                                }

                                $(`#${menu.id}icerik`).append(
                                    `<br>`
                                )

                                let icecekUrl = "@Url.Action("Icecekler", "SiparisOlustur")?id=" + menuid;
                                fetch(icecekUrl)
                                    .then(res => res.json())
                                    .then(veri => {
                                        for (const key in veri) {
                                            $(`#${menu.id}icerik`).append(
                                                `
                                                     <span> ${veri[key]} adet ${key}, </span>

                                                `
                                            )
                                        }

                                        let ekstraUrl = "@Url.Action("Ekstralar", "SiparisOlustur")?id=" + menuid;
                                        fetch(ekstraUrl)
                                            .then(res => res.json())
                                            .then(veri => {
                                                for (const key in veri) {
                                                    $(`#${menu.id}icerik`).append(
                                                        `
                                                             <span> ${veri[key]} adet ${key}, </span>

                                                        `
                                                    )
                                                }
                                            })
                                    })
                            })
                    })
            }
        })
    }
    //Menüleri listeliyoruz end

    // Siparişe Menü ekleme
    function menuArttir(id) {
            let url = "@Url.Action("SipariseMenuEkle", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id +'menuAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
                })
    }
    // Siparişe Menü ekleme end

     // Siparişten Menü çıkar
    function menuAzalt(id) {
            let url = "@Url.Action("SiparistenMenuCikar", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id +'menuAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
                })

     }
     // Siparişten Menü çıkar end



    //Hamburgerleri listeliyoruz
    function hamburgerleriListele() {
        let hamburgerListesi = "@Url.Action("HamburgerListesi", "SiparisOlustur")";
        fetch(hamburgerListesi)
            .then(res => res.json())
            .then(data => {
                $("#hamburgerler").html("");
                $("#hamburgerler").append("Hamburgerler");

                for (const hmb of data) {

                    let hmbId = hmb.id;
                    let hmbSayisi = "@Url.Action("hmbSayisi", "SiparisOlustur")?id=" + hmbId;
                    fetch(hmbSayisi)
                        .then(res => res.json())
                        .then(veri => {

                            $("#hamburgerler").append(
                                `
                            <div class="w-100 card card-header shadow mb-2">
                                <div class="row p-2">
                                    <div class="p-2 col-xl-7">
                                        <h3 class="fw-bold text-info">${hmb.ad}</h3>

                                        <p id="${hmb.id}icerik" class="fs-6" style="width: 100%">
                                         ${hmb.ad}
                                        </p>
                                        <h4 class="ms-sm-5 fw-bold text-center text-sm-start text-primary">${hmb.fiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' })}</h4>
                                    </div>
                                    <div class="col-xl d-flex justify-content-center">
                                        <img class="me-sm-auto mt-2" src="/img/${hmb.resim}" height="130" width="180" alt="Card image cap">
                                    </div>
                                    <div class="col-xl d-flex justify-content-between align-items-center">
                                        <a onclick="hmbArttir('${hmb.id}')"><i class="btn btn-primary fa-solid fa-plus"></i></a>
                                        <span class="fs-3 mt-2 fw-bold" id="${hmb.id}hmbAdet">${veri}</span>
                                        <a onclick="hmbAzalt('${hmb.id}')"><i class="btn btn-primary fa-solid fa-minus"></i></a>
                                    </div>
                                </div>
                            </div>
                            `
                            )
                        });
                }
            })
    }
    //Hamburgerleri listeliyoruz end

    // Siparişe Hamburger ekleme
    function hmbArttir(id) {
        let url = "@Url.Action("SipariseHmbEkle", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id +'hmbAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
;
                })
    }

     // Siparişten Hamburger çıkar
    function hmbAzalt(id) {
            let url = "@Url.Action("SiparistenHmbCikar", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id + 'hmbAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();


                })
     }


    //İçecekleri listeliyoruz
    function icecekleriListele() {
        let icecekListesi = "@Url.Action("IcecekListesi", "SiparisOlustur")";
        fetch(icecekListesi)
            .then(res => res.json())
            .then(data => {
                $("#icecekler").html("");
                $("#icecekler").append("İçecekler");

                for (const icecek of data) {

                    let icecekId = icecek.id;
                    let icecekSayisi = "@Url.Action("icecekSayisi", "SiparisOlustur")?id=" + icecekId;
                    fetch(icecekSayisi)
                        .then(res => res.json())
                        .then(veri => {

                            $("#icecekler").append(
                                `
                            <div class="w-100 card card-header shadow mb-2">
                                <div class="row p-2">
                                    <div class="p-2 col-xl-7">
                                        <h3 class="fw-bold text-info">${icecek.ad}</h3>

                                        <p id="${icecek.id}icerik" class="fs-6" style="width: 100%">
                                         ${icecek.ad}
                                        </p>
                                        <h4 class="ms-sm-5 fw-bold text-center text-sm-start text-primary">${icecek.fiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' })}</h4>
                                    </div>
                                    <div class="col-xl d-flex justify-content-center">
                                        <img class="me-sm-auto mt-2" src="/img/${icecek.resim}" height="130" width="180" alt="Card image cap">
                                    </div>
                                    <div class="col-xl d-flex justify-content-between align-items-center">
                                        <a onclick="icecekArttir('${icecek.id}')" class=""><i class="btn btn-primary fa-solid fa-plus"></i></a>
                                        <span class="fs-3 mt-2 fw-bold" id="${icecek.id}icecekAdet">${veri}</span>
                                        <a onclick="icecekAzalt('${icecek.id}')" ><i class="btn btn-primary fa-solid fa-minus"></i></a>
                                    </div>
                                </div>
                            </div>
                            `
                            );
                        });
                }
            })
    }
    //İçecekleri listeliyoruz son

    // Siparişe İçecek ekleme
    function icecekArttir(id) {
            let url = "@Url.Action("SipariseIcecekEkle", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id +'icecekAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
                })
    }

     // Siparişten İçecek çıkar
    function icecekAzalt(id) {
            let url = "@Url.Action("SiparistenIcecekCikar", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id + 'icecekAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
                })
     }

    //Sosları listeliyoruz
    function soslariListele() {
        let sosListesi = "@Url.Action("SosListesi", "SiparisOlustur")";
        fetch(sosListesi)
            .then(res => res.json())
            .then(data => {
                $("#soslar").html("");
                $("#soslar").append("Soslar");

                for (const sos of data) {

                    let sosId = sos.id;
                    let sosSayisi = "@Url.Action("sosSayisi", "SiparisOlustur")?id=" + sosId;
                    fetch(sosSayisi)
                        .then(res => res.json())
                        .then(veri => {

                            $("#soslar").append(
                                `
                        <div class="w-100 card card-header shadow mb-2">
                            <div class="row p-2">
                                <div class="p-2 col-xl-7">
                                    <h3 class="fw-bold text-info">${sos.ad}</h3>

                                    <p id="${sos.id}icerik" class="fs-6" style="width: 100%">
                                        ${sos.ad}
                                    </p>
                                    <h4 class="ms-sm-5 fw-bold text-center text-sm-start text-primary">${sos.fiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' })}</h4>
                                </div>
                                <div class="col-xl d-flex justify-content-center">
                                    <img class="me-sm-auto mt-2" src="/img/${sos.resim}" height="130" width="180" alt="Card image cap">
                                </div>
                                <div class="col-xl d-flex justify-content-between align-items-center">
                                    <a onclick="sosArttir('${sos.id}')" class=""><i class="btn btn-primary fa-solid fa-plus"></i></a>
                                    <span class="fs-3 mt-2 fw-bold" id="${sos.id}sosAdet">${veri}</span>
                                    <a onclick="sosAzalt('${sos.id}')"><i class="btn btn-primary fa-solid fa-minus"></i></a>
                                </div>
                            </div>
                        </div>
                        `
                            );
                        })
                }
            })
    }
    //Sosları listeliyoruz son

    // Siparişe Sos ekleme
    function sosArttir(id) {
            let url = "@Url.Action("SipariseSosEkle", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id +'sosAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
                })
    }

     // Siparişten Sos çıkar
    function sosAzalt(id) {
            let url = "@Url.Action("SiparistenSosCikar", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id + 'sosAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
                })
     }


    //Ekstra listeliyoruz
    function ekstralariListele() {
        let ekstraListesi = "@Url.Action("EkstraListesi", "SiparisOlustur")";
        fetch(ekstraListesi)
            .then(res => res.json())
            .then(data => {
                $("#ekstralar").html("");
                $("#ekstralar").append("Ekstralar");

                for (const ekstra of data) {

                    let ekstraId = ekstra.id;
                    let ekstraSayisi = "@Url.Action("ekstraSayisi", "SiparisOlustur")?id=" + ekstraId;
                    fetch(ekstraSayisi)
                        .then(res => res.json())
                        .then(veri => {

                            $("#ekstralar").append(
                                `
                        <div class="w-100 card card-header shadow mb-2">
                            <div class="row p-2">
                                <div class="p-2 col-xl-7">
                                    <h3 class="fw-bold text-info">${ekstra.ad}</h3>
                                    <p id="${ekstra.id}icerik" class="fs-6" style="width: 100%">
                                        ${ekstra.ad}
                                    </p>
                                    <h4 class="ms-sm-5 fw-bold text-center text-sm-start text-primary">${ekstra.fiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' })}</h4>
                                </div>
                                <div class="col-xl d-flex justify-content-center">
                                    <img class="me-sm-auto mt-2" src="/img/${ekstra.resim}" height="130" width="180" alt="Card image cap">
                                </div>
                                <div class="col-xl d-flex justify-content-between align-items-center">
                                    <a onclick="ekstraArttir('${ekstra.id}')"><i class="btn btn-primary fa-solid fa-plus"></i></a>
                                    <span class="fs-3 mt-2 fw-bold" id="${ekstra.id}ekstraAdet">${veri}</span>
                                    <a onclick="ekstraAzalt('${ekstra.id}')"><i class="btn btn-primary fa-solid fa-minus"></i></a>
                                </div>
                            </div>
                        </div>
                        `
                            );
                        })
                }
            })
    }
    //Ekstra listeliyoruz son


    // Siparişe Ekstra ekleme
    function ekstraArttir(id) {
            let url = "@Url.Action("SipariseEkstraEkle", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id +'ekstraAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
                })
    }

    // Siparişten Ekstra çıkar
    function ekstraAzalt(id) {
            let url = "@Url.Action("SiparistenEkstraCikar", "SiparisOlustur")?id=" + id;
            fetch(url)
                .then(res => res.text())
                .then(data => {
                    $('#' + id + 'ekstraAdet').html(data);
                    sepeteEkle();
                    SepetDoluMu();
                    IcerikVarmi();
                })
    }

    // Siparişi listeye ekleme
    function sepeteEkle() {
        let url = "@Url.Action("SiparisListesi", "SiparisOlustur")";
        fetch(url)
            .then(res => res.text())
            .then(data => {
                $(".siparisListe").html("");
                $(".siparisListe").append("<h4 class='text-center'><b>Sepetim</b></h4>");
                const jsonData = JSON.parse(data);
                let top = 0;
                //Hamburgerlerin ad ve adet bilgilerini içeren dictionary
                const hamburgerDict = {};
                for (const hmb of jsonData.hamburgerler) {
                    if (hmb.ad in hamburgerDict) {
                        hamburgerDict[hmb.ad].adet++;
                    } else {
                        hamburgerDict[hmb.ad] = { adet: 1, fiyat: hmb.fiyat, id: hmb.id };
                    }
                }

                for (const ad in hamburgerDict) {
                    const { adet, fiyat, id } = hamburgerDict[ad];
                    const toplamFiyat = adet * fiyat;
                    top += toplamFiyat;
                    $(".siparisListe").append(
                        `
                             <li class="list-group-item list-group-item-info list-group-item-action d-flex justify-content-between align-items-baseline">
                                <span>
                                    ${adet} x ${ad}
                                    <span class="fw-bold">(${toplamFiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) })</span>
                                </span>
                                <button onclick="sepettenSeciliHmbCikar('${id}')" class="btn text-danger" ><i class="fa-solid fa-trash me-1"></i></button>
                             </li>
                        `
                    );
                }
                //

                // İçeceklerin ad ve adet bilgilerini içeren dictionary
                const icecekDict = {};
                for (const icecek of jsonData.icecekler) {
                    if (icecek.ad in icecekDict) {
                        icecekDict[icecek.ad].adet++;
                    } else {
                        icecekDict[icecek.ad] = { adet: 1, fiyat: icecek.fiyat, id: icecek.id };
                    }
                }

                for (const ad in icecekDict) {
                    const { adet, fiyat, id } = icecekDict[ad];
                    const toplamFiyat = adet * fiyat;
                    top += toplamFiyat;
                    $(".siparisListe").append(
                        `
                             <li class="list-group-item list-group-item-info list-group-item-action d-flex justify-content-between align-items-baseline">
                                <span>
                                    ${adet} x ${ad}
                                    <span class="fw-bold">(${toplamFiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) })</span>
                                </span>
                                <button onclick="sepettenSeciliIcecekCikar('${id}')" class="btn text-danger" ><i class="fa-solid fa-trash me-1"></i></button>
                             </li>
                        `
                    )
                }
                //

                // Sosların ad ve adet bilgilerini içeren dictionary
                const sosDict = {};
                for (const sos of jsonData.soslar) {
                    if (sos.ad in sosDict) {
                        sosDict[sos.ad].adet++;
                    } else {
                        sosDict[sos.ad] = { adet: 1, fiyat: sos.fiyat, id: sos.id };
                    }
                }

                for (const ad in sosDict) {
                    const { adet, fiyat, id } = sosDict[ad];
                    const toplamFiyat = adet * fiyat;
                    top += toplamFiyat;
                    $(".siparisListe").append(
                        `
                             <li class="list-group-item list-group-item-info list-group-item-action d-flex justify-content-between align-items-baseline">
                                <span>
                                    ${adet} x ${ad}
                                    <span class="fw-bold">(${toplamFiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) })</span>
                                </span>
                                <button onclick="sepettenSeciliSosCikar('${id}')" class="btn text-danger" ><i class="fa-solid fa-trash me-1"></i></button>
                             </li>
                        `
                    )
                }
                //

                // Menülerin ad ve adet bilgilerini içeren dictionary
                const menuDict = {};
                for (const menu of jsonData.menuler) {
                    if (menu.ad in menuDict) {
                        menuDict[menu.ad].adet++;
                    } else {
                        menuDict[menu.ad] = { adet: 1, fiyat: menu.fiyat, id: menu.id };
                    }
                }

                for (const ad in menuDict) {
                    const { adet, fiyat, id } = menuDict[ad];
                    const toplamFiyat = adet * fiyat;
                    top += toplamFiyat;
                    $(".siparisListe").append(
                        `
                             <li class="list-group-item list-group-item-info list-group-item-action d-flex justify-content-between align-items-baseline">
                                <span>
                                    ${adet} x ${ad}
                                    <span class="fw-bold">(${toplamFiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) })</span>
                                </span>
                                <button onclick="sepettenSeciliMenuCikar('${id}')" class="btn text-danger" ><i class="fa-solid fa-trash me-1"></i></button>
                             </li>
                        `
                    )
                }
                //

                // Ekstra ad ve adet bilgilerini içeren dictionary
                const ekstraDict = {};
                for (const ekstra of jsonData.ekstralar) {
                    if (ekstra.ad in ekstraDict) {
                        ekstraDict[ekstra.ad].adet++;
                    } else {
                        ekstraDict[ekstra.ad] = { adet: 1, fiyat: ekstra.fiyat, id: ekstra.id };
                    }
                }

                for (const ad in ekstraDict) {
                    const { adet, fiyat, id } = ekstraDict[ad];
                    const toplamFiyat = adet * fiyat;
                    top += toplamFiyat;
                    $(".siparisListe").append(
                        `
                             <li class="list-group-item list-group-item-info list-group-item-action d-flex justify-content-between align-items-baseline">
                                <span>
                                    ${adet} x ${ad}
                                    <span class="fw-bold">(${toplamFiyat.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) })</span>
                                </span>
                                <button onclick="sepettenSeciliEkstraCikar('${id}')" class="btn text-danger" ><i class="fa-solid fa-trash me-1"></i></button>
                             </li>
                        `
                    )
                }

                $(".siparisListe").append(
                    `
                              <li class="list-group-item list-group-item-warning list-group-item-action d-flex justify-content-between align-items-baseline"> <b>Toplam tutar: ${top.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) }</b>
                                <a onclick="sepeteGit()" class="btn btn-outline-primary ms-3">
                                    <i class="fa-solid fa-credit-card"></i>
                                    Ödemeye Geç
                                </a>

                                 <button onclick="siparisIptal()" class="btn btn-danger me-3">
                                    İptal
                                </button>
                              </li>
                    `
                )
                //
            })
    }
    // siparişi listeye ekleme sonu


    // sepetten seçili ekstra çıkarma
    function sepettenSeciliEkstraCikar(id) {
        let url = "@Url.Action("SepettenSeciliEkstraCikar", "SiparisOlustur")?id=" + id;
        fetch(url)
            .then(res => res.text())
            .then(data => {
                $(".siparisListe").html("");
                sepeteEkle();
                ekstralariListele();
                IcerikVarmi();

            })
    }
    // sepetten seçili ekstra çıkarma end


    // sepetten seçili menu çıkarma
    function sepettenSeciliMenuCikar(id) {
        let url = "@Url.Action("SepettenSeciliMenuCikar", "SiparisOlustur")?id=" + id;
        fetch(url)
            .then(res => res.text())
            .then(data => {
                $(".siparisListe").html("");
                sepeteEkle();
                menuleriListele();
                IcerikVarmi();

            })
    }
    // sepetten seçili menu çıkarma end

    // sepetten seçili sos çıkarma
    function sepettenSeciliSosCikar(id) {
        let url = "@Url.Action("SepettenSeciliSosCikar", "SiparisOlustur")?id=" + id;
        fetch(url)
            .then(res => res.text())
            .then(data => {
                $(".siparisListe").html("");
                sepeteEkle();
                soslariListele();
                IcerikVarmi();


            })
    }
    // sepetten seçili sos çıkarma end


    // sepetten seçili icecek çıkarma
    function sepettenSeciliIcecekCikar(id) {
        let url = "@Url.Action("SepettenSeciliIcecekCikar", "SiparisOlustur")?id=" + id;
        fetch(url)
            .then(res => res.text())
            .then(data => {
                $(".siparisListe").html("");
                sepeteEkle();
                icecekleriListele();
                IcerikVarmi();

            })
    }
    // sepetten seçili icecek çıkarma end

    // sepetten seçili hamburger çıkarma
    function sepettenSeciliHmbCikar(id) {
        let url = "@Url.Action("SepettenSeciliHmbCikar", "SiparisOlustur")?id=" + id;
        fetch(url)
            .then(res => res.text())
            .then(data => {
                $(".siparisListe").html("");
                sepeteEkle();
                hamburgerleriListele();
                IcerikVarmi();
            })
    }
    // sepetten seçili icecek çıkarma end


    // siparişi iptal etme
    function sepetiBosalt() {
        let url = "@Url.Action("SepetiBosalt", "SiparisOlustur")";
        fetch(url)
            .then(res => res.text())
            .then(() => {
                menuleriListele();
                soslariListele();
                icecekleriListele();
                ekstralariListele();
                hamburgerleriListele();
                SepetDoluMu();
                IcerikVarmi();
                sepeteEkle();
            })
    }

    function siparisIptal() {
        Swal.fire({
            title: 'Sepeti boşaltmak istediğinize emin misiniz?',
            text: "Sepetteki ürünler silinecektir",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır!'
        })
            .then((result) => {
                if (result.isConfirmed) {
                    sepetiBosalt()

                    Swal.fire({
                        title: 'Sepet boşaltıldı',
                        icon: 'error',
                        timer: 3000,
                        timerProgressBar: true,
                        showConfirmButton: false,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                }
            })
    }
    // siparişi iptal etme end

    function SepetDoluMu() {
        let url = "@Url.Action("SepetDoluMu", "SiparisOlustur")";
        fetch(url)
            .then(res => res.text())
            .then(data => {
                if (data == "1") {
                    $("#bildirim").html(`
                    <button type="button" class="btn btn-primary position-relative">
                         <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                         Sepetim
                         <span class="position-absolute top-0 start-100 translate-middle p-2 bg-info border border-light rounded-circle">
                             <span class="visually-hidden">New alerts</span>
                         </span>
                    </button>`);
                }
                else {
                    $("#bildirim").html(`<i class="fa fa-shopping-cart" aria-hidden="true"></i>Sepetim`);
                }
            })
    }

    // sepete git
    function sepeteGit() {
        let url = "@Url.Action("SiparisOlustur", "SiparisOlustur")";
        window.location.href = url;
    }

</script>
}


